<md-toolbar layout="row">
    <div flex="60" id="header-date" layout="row" layout-align="start center">
        <i class="fa fa-chevron-left" ng-click="offsetDate(-1)"></i>

        <div layout="column" id="date">
            <span>{{date | date:'dd.MM.yyyy,'}}</span>
            <span>{{date | date:'EEEE'}}</span>
        </div>
        <i class="fa fa-chevron-right" ng-click="offsetDate(1)"></i>
    </div>

    <md-switch flex="40" aria-label="Day type" ng-model="dayType.workout">
        {{dayType.text}}
    </md-switch>
</md-toolbar>
<md-autocomplete
        md-selected-item="searchFood.food"
        md-search-text="searchText"
        md-items="food in foods"
        md-item-text="food.name"
        placeholder="Nowy posiłek">
    <span md-highlight-text="searchText">
        {{food.name}}
    </span>
</md-autocomplete>
<md-list id="eaten-list"
         class="md-whiteframe-z1 md-default-theme"
         ng-show="eaten.length">
    <md-item ng-repeat="food in eaten">
        <md-item-content>
            <div class="md-tile-content" layout="row" layout-align="start center">
                <div flex="50">{{food.name}}</div>

                <div layout="row">
                    <md-input-container>
                        <input class="weight"
                               type="number" min="0" step="1"
                               onfocus="this.select()"
                               ng-model="food._weight"
                               ng-change="updateFood(food, 'calcUnits')">
                        <label>g</label>
                    </md-input-container>
                    <md-input-container ng-show="food.unit">
                        <input class="units"
                               type="number" min="0" step="1"
                               onfocus="this.select()"
                               ng-model="food._units"
                               ng-change="updateFood(food, 'calcWeight')">
                        <label>{{food.unit}}</label>
                    </md-input-container>
                </div>
                <div flex="30">
                    <span>
                        <strong>B:</strong> {{food._weight_proteins | round}}
                    </span>
                    <span>
                        <strong>W:</strong> {{food._weight_carbs | round}}
                    </span>
                    <span>
                        <strong>T:</strong> {{food._weight_fat | round}}
                    </span>
                    <span>
                        <strong>kcal:</strong> {{food._weight_kcal | round}}
                    </span>
                </div>
            </div>
        </md-item-content>
        <md-divider ng-if="!$last"></md-divider>
    </md-item>
</md-list>
<!--<md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">-->
    <!--<span>.md-whiteframe-z1</span>-->
<!--</md-whiteframe>-->